/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
}
section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
#reset-button {
    background-color: blue;
}


button:hover {
    background-color: #e93663;
}